altair
beautifulsoup4
black
boruta
catboost
git+https://github.com/scikit-learn-contrib/categorical-encoding.git#egg=category_encoders # Need to use CountEncoder from category_encoders before it's officially released
cerberus
click
colorama
imbalanced-learn
impyute
isort
fancyimpute
featuretools
jupyter
jupyterlab
kaggle
keras
lens
lightgbm
line-profiler
missingno
numba
numpy
orderedmultidict
pandas
pandas-profiling
path.py
plotly
pre-commit
pyarrow
scikit-learn
scipy
seaborn
seed-isort-config
snakeviz
shap
statsmodels
tensorflow
termcolor
tsfresh
tpot
tqdm
umap-learn
vega
vtreat
xgboost
yellowbrick
