altair
beautifulsoup4
black
click
colorama
imbalanced-learn
interpret
isort
jupyter
jupyterlab
kaggle
lightgbm
line-profiler
missingno
mlflow
numba
numpy
orderedmultidict
pandas
pandas-profiling
path.py
plotly
pre-commit
pyarrow
scikit-learn
scipy
seaborn
seed-isort-config
snakeviz
shap
statsmodels
termcolor
tqdm
umap-learn
vega
xgboost